*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

overflow:hidden;
background:black;
color:white;
font-family:"IM Fell English",serif;

}



#game{

width:100vw;
height:100vh;

}



.scene{

position:absolute;
inset:0;
display:none;
overflow:hidden;

}



.scene.active{

display:block;

}



.background,
.sky,
.ocean{

position:absolute;
width:100%;
height:100%;
object-fit:cover;

}



/* =====================
LOADING
===================== */


#loadingScreen{

position:absolute;
inset:0;
background:
linear-gradient(#071b30,#000);

display:flex;
align-items:center;
justify-content:center;

z-index:999;

}



.scrollBox,
.introScroll,
.storyScroll,
.endingScroll,
.letterScroll{

background:

rgba(0,0,0,.78);

border:

5px solid #d9b45b;

border-radius:25px;

padding:35px;

text-align:center;

box-shadow:

0 0 40px black;

}



.scrollBox h1,
.introScroll h1,
.storyScroll h1,
.endingScroll h1,
.letterScroll h1{

font-family:"Pirata One";

font-size:58px;

color:#ffd76b;

text-shadow:

0 5px 20px black;

}



.loadingBar{

width:400px;

height:25px;

border:3px solid #d9b45b;

margin-top:30px;

border-radius:20px;

overflow:hidden;

}



#loadingProgress{

height:100%;

width:0%;

background:#ffd76b;

}







/* =====================
QUEST PANEL
===================== */


#questPanel{

position:absolute;

top:20px;

left:20px;

width:245px;

padding:16px;

background:

linear-gradient(#e5c47b,#704013);

border:5px solid #2b1605;

border-radius:20px;

color:#180c00;

z-index:50;

}



#questPanel h2{

font-family:"Pirata One";

font-size:30px;

text-align:center;

}



#questPanel ul{

list-style:none;

font-size:16px;

line-height:1.8;

}







/* =====================
INVENTORY
===================== */


#inventoryButton{

position:absolute;

right:25px;

top:45px;

z-index:60;

}



#inventoryPanel{

display:none;

position:absolute;

right:25px;

top:90px;

width:300px;

padding:25px;

background:rgba(0,0,0,.9);

border:4px solid #d9b45b;

border-radius:20px;

z-index:60;

}



#inventoryPanel h2{

font-family:"Pirata One";

color:#ffd76b;

}







/* =====================
BUTTONS
===================== */


button{

margin:15px;

padding:15px 40px;

border-radius:50px;

border:

3px solid #d9b45b;

background:

linear-gradient(#8a541d,#351b08);

color:white;

font-family:"Pirata One";

font-size:28px;

cursor:pointer;

transition:.3s;

}



button:hover{

transform:scale(1.1);

box-shadow:

0 0 20px gold;

}



button:disabled{

opacity:.4;

}







/* =====================
INTRO
===================== */


.ocean{

animation:

waveMove 8s infinite alternate;

}



@keyframes waveMove{


from{

transform:translateX(0);

}


to{

transform:translateX(-40px);

}


}



.stars{

position:absolute;

inset:0;

background:

radial-gradient(white 2px,transparent 2px);

background-size:100px 100px;

opacity:.5;

}



#lilyShip{

position:absolute;

width:520px;

bottom:15%;

left:50%;

transform:translateX(-50%);

filter:

drop-shadow(0 0 30px gold);


animation:

shipFloat 4s infinite;

}



@keyframes shipFloat{


50%{

margin-bottom:25px;

}


}







/* =====================
TEXT BOXES
===================== */


.introScroll,
.storyScroll{

position:absolute;

top:22%;

left:32%;

right:18%;

}



.storyScroll{

top:20%;

}



.storyScroll p,
.introScroll p{

font-size:21px;

line-height:1.35;

}









/* =====================
HARBOR OBJECTS
===================== */


.harborObject{

position:absolute;

font-size:70px;

cursor:pointer;

animation:

float 3s infinite;

}



.harborObject span{

display:block;

font-family:"Pirata One";

font-size:25px;

color:#ffd76b;

}



#crate{

left:20%;

bottom:20%;

}



#wheel{

right:25%;

bottom:25%;

}



#mapClue{

left:50%;

bottom:30%;

}



@keyframes float{


50%{

transform:translateY(-15px);

}

}







/* =====================
CREW
===================== */


.crewPortraits{

position:absolute;

bottom:20%;

width:100%;

display:flex;

justify-content:center;

gap:35px;

}



.crewPortrait{

cursor:pointer;

text-align:center;

}



.portraitFrame img{

width:155px;

height:185px;

object-fit:contain;

border:

8px solid #d9b45b;

background:#351c08;

border-radius:16px;

}



.crewPortrait h2{

font-family:"Pirata One";

font-size:28px;

}







.dialogueBox{

position:absolute;

bottom:2%;

left:28%;

right:28%;

background:rgba(0,0,0,.78);

border:4px solid #d9b45b;

border-radius:20px;

padding:14px;

text-align:center;

}





/* =====================
MAP
===================== */


.mapButtons{

position:absolute;

top:45%;

width:100%;

display:flex;

justify-content:center;

}






/* =====================
ENDING
===================== */


.endingScroll,
.letterScroll{

position:absolute;

top:15%;

left:15%;

right:15%;

}



.birthdayMessage{

margin-top:30px;

border-top:

3px solid #d9b45b;

padding-top:25px;

}



.birthdayMessage p{

font-size:27px;

line-height:1.7;

}







@media(max-width:700px){


#questPanel{

width:220px;

font-size:14px;

}


h1,
.scrollBox h1,
.storyScroll h1{

font-size:45px;

}


.crewPortraits{

gap:5px;

}


.portraitFrame img{

width:80px;

height:120px;

}


}
/* =====================
MEET CREW BUTTON FIX
===================== */

#meetCrewButton{

position:absolute;

bottom:10%;

left:50%;

transform:translateX(-50%);

z-index:100;

}


/* =====================
CAPTAIN TITLE POSTER
===================== */

.wantedPoster{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

width:60%;

max-width:600px;

background:linear-gradient(#e7c879,#b8863b);

color:#2b1605;

padding:40px;

border:10px solid #5a3210;

border-radius:20px;

text-align:center;

box-shadow:0 0 50px black;

z-index:9999;

animation:posterDrop 1.5s ease;

}


.wantedPoster h1{

font-family:"Pirata One";

font-size:70px;

color:#2b1605;

}


.wantedPoster h2{

font-family:"Pirata One";

font-size:50px;

}


.wantedPoster h3{

font-size:35px;

}


.wantedPoster p{

font-size:25px;

line-height:1.5;

}



@keyframes posterDrop{

from{

transform:translate(-50%,-200%);

opacity:0;

}


to{

transform:translate(-50%,-50%);

opacity:1;

}

}

#treasureScene{
background-image:url("assets/backgrounds/sky.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
#treasureScene{
background:
linear-gradient(
rgba(0,0,0,.30),
rgba(0,0,0,.30)
),
url("assets/backgrounds/ocean.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
